<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../../layout/head') %>
    </head>
<body class="detail">
    <header>
    </header>
    <%- include('detail', {book: book}) %>
</body>
</html>