<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../../layout/head') %>
    </head>
<body class="detail">
    <header>
    </header>
    <%- include('detail', {book: book}) %>
    <section>
        <a class="detail" href="/">It's Late. Go HOME.</a>
    </section>
</body>
</html>