<!DOCTYPE html>
<html lang="en">
    <%- include ('../layout/head’) %>
<body>
    <div id="header">
        <h1>Best Books!</h1>
    </div>
    <div id="subheader">
        <h2>Search by Title or Author</h2>
    </div>
    <form action="/searches" method="POST">
        <fieldset>
            <div id="search">
                <label>
                    <input id="search2" type="text" name="search" placeholder="Enter a title or author">
                </label>
            </div>
            <div id="title">
                <label>
                    <span>Title</span>
                    <input type="radio" name="search" value="title">
                </label>
            </div>   
            <div id="author">
                <label>
                    <span>Author</span>
                    <input type="radio" name="search" value="author">
                </label>
            </div>
            <div id="button">
                <button>Search the Google Books API</button>
            </div>
        </fieldset>
    </form>
</body>
</html>