<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
</head>
<body>
    <form action="/searches/new" method="GET">
        <fieldset>
            <label>
                <span>Title</span>
                <input type="text" name="title">
            </label>

            <label>
                <span>Author</span>
                <input type="text" name="author">
            </label>

            <button>Submit</button>
        </fieldset>
    </form>

</body>
</html>