<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
</head>
<body>
    <h1>Best Books!</h1>
    <h2>Search by Title or Author</h2>
    <form action="/searches/new" method="GET">
        <fieldset>
            <label>
                <input type="text" name="search" placeholder="Enter a title or author">
            </label>
            </br>   
            <label>
                <span>Title</span>
                <input type="radio" name="search" value="title">
            </label>
            </br>
            <label>
                <span>Author</span>
                <input type="radio" name="search" value="author">
            </label>
            </br>
            <button>Search the Google Books API</button>
        </fieldset>
    </form>

</body>
</html>