<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/styles/module.css">
</head>
<body>
    <h1>Best Books!</h1>
    <h2 id="subheader">Search Results</h2>
    <form action="/searches/show" method="POST">
    <main>
        <% results.forEach(book => { %>
            <img src="<%= book.image %>">
            <h2 id="title"><%= book.title %></h2>
            <h3><%= book.author %></h3>
            <div>
                <p><%= book.description %></p>
            </div>
      <% }) %>
    </main>
    </form>
</body>
</html>