@media only screen and (max-width: 600px) {
    a.homepage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;
        background-color: #ABC8C7;
        color: #55455F;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        outline: solid .5px #55455F;
    }

    button#saveUpdates {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;
        background-color: #ABC8C7;
        color: #55455F;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        outline: solid .5px #55455F;
    }
}

@media only screen and (min-width: 601px) {
    a.homepage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;
        background-color: #ABC8C7;
        color: #55455F;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        outline: solid .5px #55455F;
    }

    button#saveUpdates, button#updateDetails, button#deleteBook {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;
        background-color: #ABC8C7;
        color: #55455F;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        outline: solid .5px #55455F;
    }
}