@media only screen and (max-width: 600px) {
    body {
        font-family: 'Stint Ultra Condensed';
        position: relative;
        background-color: #B0A1BA;
        display: grid;
        justify-items: center;
        width: 100%;
    }

    h1 {
        font-size: 26px;
        background-color: #84AEAD;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 100%;
        height: 100px;
        line-height: 100px;
    }

    #subheader {
        font-size: 24px;
        background-color: #84AEAD;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 480px;
        height: 80px;
        line-height: 80px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }

    #title {
        font-size: 20px;
        background-color: #ABC8C7;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        width: 480px;
        height: 50px;
        line-height: 50px;
        overflow: scroll;
    }

    h3 {
        font-size: 18px;
        background-color: #ABC8C7;
        color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 480px;
        height: 40px;
        line-height: 40px;
        overflow: scroll;
    }

    div {
        font-size: 12px;
        background-color: #84AEAD;
        color: #55455F;
        outline: solid .5px #55455F;
        width: 480px;
        overflow: scroll;
    }
}

@media only screen and (min-width: 601px) {
    body {
        font-family: 'Stint Ultra Condensed';
        position: relative;
        background-color: #B0A1BA;
        display: grid;
        justify-items: center;
        width: 100%;
    }

    h1 {
        font-size: 30px;
        background-color: #84AEAD;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 100%;
        height: 100px;
        line-height: 100px;
    }

    #subheader {
        font-size: 24px;
        background-color: #84AEAD;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 850px;
        height: 90px;
        line-height: 90px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }

    #title {
        font-size: 22px;
        background-color: #ABC8C7;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        width: 850px;
        height: 50px;
        line-height: 50px;
        overflow: scroll;
    }

    h3 {
        font-size: 20px;
        background-color: #ABC8C7;
        color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 850px;
        height: 40px;
        line-height: 40px;
        overflow: scroll;
    }

    div {
        font-size: 18px;
        background-color: #84AEAD;
        color: #55455F;
        outline: solid .5px #55455F;
        width: 850px;
        overflow: scroll;
    }
}