<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <form action="/" method="POST">
    <h2>Book App Homepage</h2>
    <p>This will soon display a collection of books. Stand by for updates.</p>
    </form>
</body>
</html>