<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layout/head') %>
    </head>
<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <a class="homepage" href="/searches/new">This way to the library. Remember to use your inside voice! ---> </a>

    <section>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <%- include('books/detail', {book: book}) %>
                </li>
                <a class="homepage" href="/books/<%=book.id%>">View details</a>
            <% }) %>
        </ul>
    </section>
</body>
</html>