<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layout/head') %>
    </head>
<body>
    <h1 class="homepage">Book App Homepage</h1>
    <section>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <%- include('books/detail', {book: book}) %>
                </li>
                <a class="homepage" href="/books/<%= book.id %>">View details</a>
            <% }) %>
        </ul>
    </section>
</body>
</html>