/* mobile */
@media only screen and (max-width: 600px) {
    body {
        font-family: 'Stint Ultra Condensed', cursive;
        position: relative;
        background-color: #B0A1BA;
        display: grid;
        justify-items: center;
        width: 100%;
    }
}