@media only screen and (max-width: 600px) {
    #subheader {
        font-size: 20px;
        background-color: #ABC8C7;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        width: 480px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
    }

    #search2 {
        font-size: 18px;
        background-color: #ABC8C7;
        color: #55455F;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 480px;
        height: 80px;
        line-height: 80px;
        padding-left: 10px;
    }

    #title, #author {
        font-size: 20px;
        background-color: #84AEAD;
        color: #55455F;
        outline: solid .5px #55455F;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 480px;
        height: 80px;
        line-height: 80px;
        padding-left: 10px;
    }

    a.detail:hover {
        background-color: #A5B5BF;
        color: #F2FDFF;
    }
}

@media only screen and (min-width: 601px) {
    #subheader {
        font-size: 20px;
        background-color: #ABC8C7;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #55455F;
        text-align: center;
        outline: solid .5px #55455F;
        width: 850px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
    }
    
    #search2 {
        font-size: 18px;
        background-color: #ABC8C7;
        color: #55455F;
        outline: solid .5px #55455F;
        margin-top: 30px;
        width: 850px;
        height: 80px;
        line-height: 80px;
        padding-left: 10px;
    }
    
    #title, #author {
        font-size: 20px;
        background-color: #84AEAD;
        color: #55455F;
        outline: solid .5px #55455F;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 850px;
        height: 80px;
        line-height: 80px;
        padding-left: 10px;
    }

    a.detail:hover {
        background-color: #A5B5BF;
        color: #F2FDFF;
    } 
}